{% extends "../../Base/Base.html" %}
{% load staticfiles %}
{% block Title %}
  Términos Aceptados
{% endblock Title %}

{% block stayle %}
  <link href="{% static "assets/global/plugins/cubeportfolio/css/cubeportfolio.css" %}" rel="stylesheet" type="text/css" />
{% endblock stayle %}


{% block Content %}

       
          <div class="page-content-wrapper">
            
              <!-- BEGIN CONTENT BODY -->
                  <div class="page-content">
                      <h1>Ud ha aceptado nuestros Términos satisfactoriamente!!</h1>
                      
                              
                          </div>
                      </div>
                    

                
         
{% endblock Content %}
      
{% block Scripts %}
  <script src="{% static "assets/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" %}" type="text/javascript"></script>
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN THEME GLOBAL SCRIPTS -->
            <!-- END THEME GLOBAL SCRIPTS -->
            <!-- BEGIN PAGE LEVEL SCRIPTS -->
            <script src="{% static "assets/pages/scripts/portfolio-1.min.js" %}" type="text/javascript"></script>
{% endblock Scripts %}